body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

/* ===============================================================================================
================== FORM LOGIN, REGISTER, RESET PASSWORD, VERIFIKASI EMAIL =======================
=============================================================================================== */
.login-brand {
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
}

/* 3.5 Card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.card .card-header,
.card .card-body,
.card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}

.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card.card-primary {
    border-top: 2px solid #6777ef;
}

.card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}

.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    color: #6777ef;
    padding-right: 10px;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 25px;
}

.form-group .control-label,
.form-group>label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}

.text-small {
    font-size: 12px;
    line-height: 20px;
}

/* 3.2 Form */
.form-control,
.input-group-text,
.custom-select,
.custom-file-label {
    background-color: #fdfdff;
    border-color: #e4e6fc;
}

.form-control:focus,
.input-group-text:focus,
.custom-select:focus,
.custom-file-label:focus {
    background-color: #fefeff;
    border-color: #95a0f4;
}

.custom-control {
    line-height: 1.6rem;
}

.text-muted {
    color: #98a6ad !important;
}

.simple-footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
}

/* ===============================================================================================
========================================= PROSES SEWA =========================================
=============================================================================================== */

.how-it-works .step {
    width: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.how-it-works .step:after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 25px;
    background: #ff0000;
}

.how-it-works .step:last-child:after {
    display: none;
}

.how-it-works .step .number {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 4px solid #ff0000;
    background: #fff;
    border-radius: 50%;
    color: #ff0000;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
}

.how-it-works .step .number>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: #ff0000;
}

.how-it-works .step .caption {
    display: block;
    color: #ff0000;
}

.how-it-works .step1 {
    width: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.how-it-works .step1:after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 25px;
    background: rgb(0, 184, 9);
}

.how-it-works .step1:last-child:after {
    display: none;
}

.how-it-works .step1 .number {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 4px solid rgb(0, 184, 9);
    background: #fff;
    border-radius: 50%;
    color: #007bff;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
}

.how-it-works .step1 .number>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: rgb(0, 184, 9);
}

.how-it-works .step1 .caption {
    display: block;
    color: green;
}


.how-it-works .step2 {
    width: 20%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.how-it-works .step2:after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 25px;
    background: #2d5c88;
}

.how-it-works .step2:last-child:after {
    display: none;
}

.how-it-works .step2 .number {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 4px solid #2d5c88;
    background: #fff;
    border-radius: 50%;
    color: #2d5c88;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
}

.how-it-works .step2 .number>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: #2d5c88;
}

.how-it-works .step2 .caption {
    display: block;
    color: #2d5c88;
}

/* ===============================================================================================
========================================= OUR SERVICES =========================================
=============================================================================================== */

.service-1 {
    text-align: center;
    margin-bottom: 25px;
}

.service-1 .service-1-icon {
    background: #fff;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    border: 4px solid #007bff;
    border-radius: 50%;
}

.service-1 .service-1-icon>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.service-1 .service-1-contents h3,
.service-1 .service-1-contents p {
    color: #000;
}

.service-1 .service-1-contents h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.service-1.dark .service-1-contents h3,
.service-1.dark .service-1-contents p {
    color: #000;
}

.service-1.dark .service-1-contents h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

/* ===============================================================================================
========================================= DAFTAR MOBIL =========================================
=============================================================================================== */
.item-1 img {
    max-height: 200px;
    background: #fff;
    width: 100%;
}

.item-1 .item-1-contents {
    padding: 20px;
    background: #fff;
}

.item-1 .item-1-contents h3 {
    font-size: 18px;
}

.item-1 .item-1-contents .rent-price>span {
    font-size: 1.7rem;
}

.item-1 .item-1-contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-1 .item-1-contents ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;
    display: block;
    position: relative;
}

.item-1 .item-1-contents ul li .spec {
    position: absolute;
    right: 0;
}

.item-1 .item-1-contents ul li:last-child {
    border-bottom: none;
}

.item-1 .item-1-contents .action {
    margin-top: 20px;
}

/* ===============================================================================================
========================================= FOOTER AREA =========================================
=============================================================================================== */

.copyright_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.copyright_link a {
    color: rgb(255, 255, 255);
    margin-left: 40px;
}

/* ===============================================================================================
========================================= SHOW PASSWORD =========================================
=============================================================================================== */

.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 25px;
    padding-right: 25px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass fa {
    margin-top: 5px;
}

.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .simple-footer {
        font-size: 10px;
    }
}

/*== Preloader Area CSS Start ==*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 14px arial;
}
